@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;900:700&display=swap');

*{
    font-family: 'Jost', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:black;
    justify-content: space-between;
    margin: 0;
    padding: 12px;

}
body{
    margin: 0;
}


.header_left__img{
    width:70px;
    object-fit:contain;
}

.header__right{
    display: flex;
    align-items: center;
}

.header_right__item{
    color: white;
    margin-right: 10px;
}

.get_started{
    background-color: #18d860;
    border-radius: 20px;
    padding:10px;
    font-weight: 700;
    display: none;

}

@media screen and (min-width: 500px){
    .header{
        flex-direction: row;
        padding: 20px;
    }
    .get_started{
        display: inline;
    }
}