@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

* {
  font-family: "Jost";
  margin: 0;
  padding: 0;
}
/* #par{ 
  background-color: green;
  color: white;
  padding: 1rem;
}




div {  
  background-color: black;
  color: white;
  padding: 1rem;
}

.parent{ 
  background-color: purple;
  height: 100%;
  color: blue;
}


.center {
  display: flex;
  padding: 2rem;

  justify-content: center;
  flex-direction: column;
}

.center h1 {
  padding: 1rem;
  border: 3px solid black;
  background: linear-gradient(90deg, magenta, blue);
  color: whitesmoke;
  font-size: 2.5rem;
  margin: 1rem;
} */

ul{
  list-style: none;
  display: flex;
  align-items: center;
}
li {
  font-size: 1.25rem;
  margin-left: 10px;
  font-weight: bold;
  color: white;
}
.header {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  
}




.login{
  position: relative;
}





 .login{
position: relative;

}

.login p{
position: absolute;
top: -2px;
right: -10px;
border-radius: 50%;
width: 15px;
height: 15px;
display: flex;
align-items: center;
padding: 1px;
justify-content: center;
background-color:red;
color: white;
} 
